---
layout: main
title: Tags
permalink: /tags/
---

{% assign alldocs = site.exercises %}
{% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | count_by_item %}

<section class="blog-tags">
  <h1>Tags in exercises</h1>
  <ul class="tags">
<!--  cycles through tag list and creates header row of all tags used in site with accompanying per-tag counts...-->
  {% for this_word in grouptag %}
    <li ><a href="#{{ this_word[0] | cgi_escape }}" class="tag">{{ this_word[0] }} <span>({{ this_word[1] }})</span></a></li>
  {% endfor %}
  </ul>
<!--cycles through tag list and creates subheader for each tag name...-->
  {% for this_word in grouptag %}
  <h2 id="{{ this_word[0] | cgi_escape }}">{{ this_word[0] }}</h2>
<!--  lists all posts corresponding to specific tag...-->
    {% for post in alldocs %}{% if post.tags contains this_word[0] %}
    <div class="tag-list">
        <span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
        <small><span>| {{ post.date | date_to_string }}</span></small>
    </div>
    {% endif %}{% endfor %}
  {% endfor %}
</section>