---
layout: main
title: Weekly plans
permalink: /weekly-plans/
---

<section class="weeks-overview">
<h1>Weekly plans</h1>

<table class="blueTable">
  <thead>
    <tr>
      <th style="text-align: left">Week</th>
      <th style="text-align: left">Initials</th>
      <th style="text-align: left">Content</th>
    </tr>
  </thead>
{% for post in site.weekly-plans %}
  <tbody>
    <tr>
      <td style="text-align: left"><a href="{{post.title  | downcase  }}">{{ post.Week }}</a></td>
      <td style="text-align: left">{{ post.Initials }}</td>
      <td style="text-align: left">{{ post.Content }}</td>
    </tr>
  </tbody>
{% endfor %}

</table>

</section>
